.loader {
    width: 100%;
    height: 100vh;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    .loader-txt {
        align-self: center;
    }
    .spiner { 
        align-self: center;
        width: 70px;
        height: 70px;
    }
}




