.cartImg{
    width: 30px;
}

.counter{
    background-color: black;
    color: white;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -12px;
    font-size: 13px;
    border: 1px solid white;
    outline: 1px solid black;
}